<!doctype html>
<head>
	<title>this is my index</title>
</head>
<body>
	<h1>hello</h1>
	<p>sum:<p>
	<form action="/sum", method="POST">
		<p>Input numbers:<input class="array" id="input" type="text" name="numbers"></p>
		<p>*please separate by space</p>
		<p class="function"></p>
		<p class="result"></p>
	<button class="sum" >submit</button>
	</form>

	<p>average:<p>
	<form action="/avg", method="POST">
		<p>Input numbers:<input class="array" id="input" type="text" name="numbers"></p>
		<p>*please separate by space</p>
		<p class="function"></p>
		<p class="result"></p>
	<button class="avg" >submit</button>
	</form>

	<p>max:<p>
	<form action="/max", method="POST">
		<p>Input numbers:<input class="array" id="input" type="text" name="numbers"></p>
		<p>*please separate by space</p>
		<p class="function"></p>
		<p class="result"></p>
	<button class="max" >submit</button>
	</form>
	
	<p>any even:<p>
	<form action="/anyeven", method="POST">
		<p>Input numbers:<input class="array" id="input" type="text" name="numbers"></p>
		<p>*please separate by space</p>
		<p class="function"></p>
		<p class="result"></p>
	<button class="anyEven" >submit</button>
	</form>

	<p>all even:<p>
	<form action="/alleven", method="POST">
		<p>Input numbers:<input class="array" id="input" type="text" name="numbers"></p>
		<p>*please separate by space</p>
		<p class="function"></p>
		<p class="result"></p>
	<button class="allEven" >submit</button>
	</form>

	
	<p>Input numbers:<input class="array" id="input1" type="text" name="numbers"></p>

    <p class="result"></p>
    <button class = "sb">cnmxc</button>  
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/views/javascripts/app.js"></script>
</body>